sphinx~=7.4.7
ray[tune]~=2.34.0
matplotlib~=3.9.1
seaborn~=0.13.2
stable_baselines3[extra]>=2.0.0a9
numpy~=1.26.4
torch~=2.4.0
pettingzoo~=1.24.3
sumolib~=1.20.0
traci~=1.20.0
pip~=23.2.1
attrs~=23.2.0
wheel~=0.41.2
pillow~=10.4.0
docutils~=0.21.2
Jinja2~=3.1.4
setuptools~=68.2.0
typing_extensions~=4.12.2
packaging~=24.1
gymnasium~=0.29.1
pandas~=2.2.2
torch_geometric~=2.5.3
tqdm~=4.66.4